@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


.aboutus-contain-main{
    padding-top:700px;
    height: 2000px;
    /* background-color: red; */
}
.topic-background{
    position: absolute;
    top:100px;
    width: 100%; 
    height:600px;
    object-fit: cover;
    background: linear-gradient(rgb(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../image/header1.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
  
}
.topic{
    margin-top: 250px;
    text-align: center;
    font-weight: 500;
    color: azure;
    font-size: 50px;
}.image{
    width: 100%; 
    height:400px;
    object-fit: cover;
}
.line-2{
    height:2px;
    width: 100px;
    background-color: white;
    margin-top: 10px;
    margin-right:calc(50% + 15px) ;
}
.aboutus-content{
    box-sizing: border-box;
    width: 100%;
    padding-top: 50px;
    padding-left: 20px;
    /* background-color: red; */
    height:600px;
}
.aboutus-content h1{
    /* width: 100%; */
    width:calc(100% - 610px);
    text-align: center;
    padding-bottom: 50px;
    /* padding-left: 20px; */
}
.aboutus-content-text{
    position: absolute;
    padding-left:5%;
    padding-right: 5%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    /* height: 100px; */
    /* background-color: yellow; */
    /* width: 100px; */
    width:calc(100% - 600px);
}
.aboutus-content-image{
    padding-top: 10px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    left:calc(100% - 580px);
    width: 580px;
    /* height: 100px; */
    /* background-color: red; */
    display: inline-block;
}
.aboutus-content-image-img{
    width:500px;
}
@media(max-width:1000px){
     
}



.aboutus-what-we-do{
    min-height: 400px;
    width: 100%;
    /* background-color: aqua; */
}
.aboutus-what-we-do h1{
    text-align: center;
    padding: 30px;
}
.aboutus-what-we-do-row{
    width: 100%;
    text-align: center;
}
.aboutus-what-we-do-col{
    width: 400px;
    display: inline-block;
    height: 400px;
    margin-right: 3%;
    margin-top: 40px;
    /* background-color: rebeccapurple; */
}
.aboutus-what-we-do-col img{
    width: 330px;
    height: 330px;
    border-radius: 50%;
    object-fit: cover;
}
.aboutus-what-we-do-col h3{
    padding-top: 30px;
    text-align: center;
    padding-left: 10px;
}
.why-we-choose-us{
    width: 100%;
    min-height: 400px;
    background-color: rgb(8, 3, 44);
}
.why-we-choose-us h1{
    padding: 30px;
    text-align: center;
    color: white;
}
.why-we-choose-us-row{
    width: 100%;
    text-align: center;
}
.why-we-choose-us-col{
    margin-top: 50px;
    display: inline-block;
    width: 300px;
    height: 300px;
    /* background-color: whit   e; */
}
.why-we-choose-us-col .col-icon{
    height: 100px;
    width: 100%;
    /* background-color: red; */
 /* color: red; */
    position: relative;
}
.why-we-choose-us-col .fa{
    font-size: 60px;
    position: absolute;
    left:calc(50% - 25px);
    color: rgb(236, 171, 31);
 /* color: red; */
}
.why-we-choose-us-col h3{
    color: white;
}
/* .circle-icon {
    background: rgb(0, 153, 204 );
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
} */

.how-we-work{
    width: 100%; 
    height:600px;
    object-fit: cover;
    background: linear-gradient(rgb(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../image/header1.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
}
.how-we-work-row{
    width: 100%;
    /* padding-top: 175px; */
}
.circle-outline{
    margin-top: 100px;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    /* margin-right: 10%; */
    padding: 5px;
    position: relative;
}
.inner-circle{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 0.5px solid gray;
    
}
.how-we-work-text{
    /* background-color: red; */
    display: inline-block;
    width: 24%;
    text-align: center;
    color: white;
}
.small-circle{
    padding-top: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid rgb(0, 153, 204 );
    position: absolute;
    border-radius: 50%;
    z-index: 3;
    left:180px;
    color: black;
}
.how-we-work-head-2{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 45px;
}
.how-we-work-head-1{
    padding-top: 40px;
    text-align: center;
    color: rgb(0, 153, 204 );
    font-family: 'Handlee', cursive;
}
.inner-circle .fa{
    color: black;
    font-size: 100px;
    position: absolute;
    left: 82px;
    top:70px;
}