.contactus-contain-main{
    padding-top:500px;
    height: 2000px;
    /* background-color: red; */
}
.topic-background{
    position: absolute;
    top:100px;
    width: 100%; 
    height:400px;
    object-fit: cover;
    background: linear-gradient(rgb(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../image/header1.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
  
}
.topic{
    margin-top: 150px;
    text-align: center;
    font-weight: 500;
    color: azure;
    font-size: 50px;
}.image{
    width: 100%; 
    height:400px;
    object-fit: cover;
}