.slider{
    position: absolute;
    top:100px;
    width: 100%;
}
.slider img{
    display: none;
    width: 100%;
    /* width: 100vw; */
    height: 100vh;
    object-fit: cover;
    transition:display 1s ease-in-out;
    /* position: absolute; */
}
#slider1{
    display: block;
}
.icon{
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    padding-top:4px;
    box-sizing: border-box;
    top:50%;
    box-sizing: border-box;
    border: 1px solid white;
}
.icon:hover{
    /* background-color: rgb(29, 41, 81); */
    background-color: rgb(0, 49, 211);
    border: 0px;
}
.icon-next{
    padding-left:23px;
    left:calc(100% - 100px);
}
.icon-pre{
    padding-left: 17px;
    left:40px;
}
.fa{
    position: absolute;
    color: white;
    stroke-width:1 !important;
}
.dot{
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    top:96%;
    z-index: 1;
}
#dot1{
    left: calc(45% - 15px);
    background-color: white;
}
#dot2{
    left: calc(50% - 15px) ;
}
#dot3{
    left: calc(55% - 15px);
}
@media(max-width:800px){
  .icon{
    width: 40px;
    height: 40px;
    padding-top:6px;   
  }
  .icon-next{
    padding-left:17px;
    padding-top: 5px;
    left:calc(100% - 50px);
  }
  .icon-pre{
      padding-left:12px;
      left:10px;
  }
  .fa{
      font-size: 25px !important;
      position: absolute;
      color: white;
  }
  .dot{
    width: 10px;
    height: 10px;
  }
  #dot1{
    
      left: calc(45% - 10px);
      background-color: white;
  }
  #dot2{
      left: calc(50% - 10px) ;
  }
  #dot3{
      left: calc(55% - 10px);
  }
}
.img-overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(2, 0, 0, 0.2);
}
