@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap" );
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');


*{
    margin: 0px;
    padding: 0px;
    
}
.loader{
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  position: fixed;
  z-index: 1000;
  text-align: center;
  padding-top: 45vh;
  color: rgb(0, 153, 204 );
}


/* ================================== start main container================= */

.contain-main{
  padding-top: 100vh;
}
.service-main{
  min-height:100ch;
  width: 90%;
  margin: auto;
}
.service-text{
  /* background-color: red; */
  text-align: center;
  margin: auto;
}
.service-main h1 {
  padding-top: 180px;
  text-align: center;
}
.subheading{
  color:  rgb(0, 153, 204 );
  
  text-align: center;
}
.service-main .row{
  padding-top: 50px;
  width: 100%;
  margin: auto;
  /* background-color: red; */
}
.service-col{
  height: 400px;
  width: 300px;
  margin: auto;
  padding-top: 10px;
  /* background-color: green; */
  /* border: 1px solid ; */
}
.sub_content{
  color: gray;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.middle-1{padding-top: 70px;}
.middle-2{display:none;}
.image1,.image2,.image3{
  margin-left:25px;
  height: 250px;
  width: 250px;
  /* background-color: red; */
  transition: all 0.34s ease-in-out;
  object-fit: cover;
  padding-top: 20px;
}
.image1:hover{
  height: 275px;
  width: 275px;
}

.image2:hover{
  width: 275px;
  height:225px;
}

.image3:hover{
  height: 225px;
  width: 275px;
}
.image2{
  border-radius: 0%;
  height: 200px;
  padding-top: 20px;  
  
}
.image3{

border-radius: 0%;
height: 200px;
}
.service-topic{
  width: 33%;
  text-align: center;
}

.topic{
  text-align: center;
  font-size: large;
  font-weight: 600;
}
@media(max-width:1000px){
  .middle-1{
    display: none;
  }
  .middle-2{
    display: block;
  }
}
@media(max-width:670px){
  .middle-1{
    padding-top: 20px;
    display: block;
  }
  .service-col{
    min-height: 300px;
  }
  .middle-2{
    display: none;
  }
}


.why-choose{
  color: white;
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("../image/why.jpg");
  min-height:600px;
  width: 100% !important;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position: center;
  position: relative;
  padding-top: 50px;

}
.why-choose .row{
  width:100% !important;
  /* background-color: red; */
  margin: 0px;

}
.why-choose-col-1{
  width: 45%;
}
.why-choose-col-2{
  position: relative;
  width: 55%;
  
}
.why-choose-item{
  /* position: relative; */
  float: left;
  width: 50%;
  /* background-color: red; */
  height: 80px;
  padding-top: 30px;
}
@media (max-width:1500px){
  .why-choose-col-1{
    width: 60%;
  }
  .why-choose-col-2{
    width: 30%;
  }
  .why-choose-item{
    width: 100%;
  }
}
@media (max-width:1000px){
  .why-choose-col-1{
    width: 100%;
    margin: 0px;
  }
  .why-choose-col-2{
    margin: 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
  }
  .why-choose-item{
    margin-left:10%;
    width: 40%;
  }
}
@media (max-width:700px){
  .why-choose-item{
    width: 90%;
  }
}

.why-choose h1{
  padding-top: 2%;
  padding-left: 5%;
  font-size: 45px;
}
.why-choose h3{
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
.why-choose-row{
  position: relative;
  width: 100%;
  margin: auto;
  background-color: black;
  box-sizing: border-box;
  height: 500px;
}
.why-choose p{
  padding: 0px 80px 0px 50px;
}
.col-4{
  display: inline-block;
  background-color: #ffc451;
}

.why-choose .fa{
  color:white;
  background-color: transparent;
  font-size: 30px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid white;
}

@media (max-width:600px){
  
  .why-choose h1{
    padding-top: 2%;
    padding-left: 1%;
    font-size: 30px;
  }
  .why-choose h3{
    padding-top: 2%;
    padding-left: 1%;
    padding-bottom: 16px;
    margin-bottom: 50px;
  }
  .why-choose p{
    padding: 0px 1% 0px 1%;
    font-size: 14px;
  }
  .why-choose-item {
    height: 70px;
    /* background-color: red; */
  }
  .why-choose-item p{
    padding: 0px 0px 0px 50px;
  }
  .why-choose .fa{
    color:white;
    background-color: transparent;
    font-size: 25px !important;
    padding-right: 10px;
    margin-right: 40px;
    border-right: 1px solid white;
  }
}







.gallery{
  width: 100%;
  min-height:1000px;
}
.gallery h1{
  padding-top: 50px;
  text-align: center;
}
.gallery .row{
  width: 100% !important;
}
.gallery .col-8{
  margin: auto;
  text-align: center;
  padding-left:5%;
  padding-right:5%;
}
.gal-row{
  width: 100%;
  padding-top: 30px;
  margin: auto;
  display: block;
  height: auto;
  text-align: center;
  padding-bottom: 50px;
}
.gal-col{
  position: relative;
  margin: auto;
  margin-right:10px;
  margin-left:10px;
  margin-top:30px;
  width: 450px;
  height: 300px;
  display: inline-block;
  transition: all 0.4 ease-in-out;
}


.text{
  font-size: x-large;
  padding: 120px 50px 120px 50px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.gal-image{
  width:100%;
  height:100%;
  object-fit: cover;
}
.gal-overlay{
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0,0.5);
  width: 450px;
  height: 300px;
}
@media(max-width:550px){
  .gal-col{
    width:80%;
    height: 300px;
    margin: auto;
    margin-bottom:40px;
  }
  .gal-col .gal-overlay{
    display: block;
    width:100%;
    height: 100%;
    margin: auto;
    animation: overlay-come;
  }
  
}



@keyframes overlay-come{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.gal-col:hover .gal-overlay{
  display: block;
  animation: overlay-come;
  animation-duration: 1s;
}

.about-us{
  color: white;
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../image/home-cleaning-service.jpeg");
  min-height:600px;
  width: 100% !important;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position: center;
  position: relative;
}
.about-us-col{
  width: 24%;
  display: inline-block;
  margin:0px !important;
  text-align: left;
  padding-left: 10%;
  box-sizing: border-box;
}
.about-us-col h1{
  padding-left: 20px;
  padding-top: 10%;
}
.about-us-col h3{
  padding-left: 20px;
  font-size: 18px;
  /* padding-top: 10%; */
}
.about-us-line{
  margin: 0px;
  height:10px;
  transition:height 10s ease-in;
  position: absolute;
  top:0px;
  width: 2px;
  height: 10px;
  background-color: white;
}
.about-us-circle{
  position: absolute;
  margin: 0px;
  top:0px;
  margin-left:-6.5px;
  height: 15px;
  width: 15px;
  border: 2px solid white;
  box-sizing: border-box;
  /* background-color:white; */
  border-radius:50%;
  margin-top: 10px;
  transition: margin 10s ease-in;
}

@media(max-width:1150px){
  .about-us-col{
    padding-left: 5%;
  }
}
@media(max-width:850px){
  .about-us-col{
    padding-left: 2%;
  }
  .about-us-col h1{
    padding-top: 40%;
    font-size: 25px;
  }  
}
@media(max-width:500px){
  .about-us-col{
    padding-left: 1%;
  }
  .about-us-col h1{
    padding-top: 40%;
    font-size: 25px;
    padding-left: 5px;
  } 
  .about-us h3{
    font-size: 14px;
    padding-left: 5px;
  } 
}

.our-customers{
  /* background-color: red; */
  margin-left: 0px;
  text-align: center;
}
.our-customers-head{
  text-align: center;
  font-size: 60px;
}
.our-customers .col-4{
  background-color: white;
}
.our-customers img{
  width: 200px;
}
/* ================================== finish main container================= */









   
